@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/backgroundHOME.webp);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    flex-direction: column;
    background-color: black;
    color: white;
}

header {
    width: 100%;
    height: 7rem;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.356);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 .logo {
    width: 150px;
    cursor: pointer;
}

.headerInfos {
    display: flex;
    gap: 30px;
    height: 100%;
    align-items: center;
}

.headerInfos p   {
    font-family: 'Inter', sans-serif;
    color: #a8a8b3;
    padding: 15px;
    font-size: 1.1rem;
    cursor: pointer;
}

.headerInfos a {
    text-decoration: none;
    text-transform: none;
    list-style-type: none;
}



.headerInfos p:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, transparent 50%, #fa0303 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: background-position 0.5s ease;
}



.textPrincipal {
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.textPrincipal p {
    color: rgba(255, 255, 255, 0.582);
    font-family: 'Inter', sans-serif;
    width: 700px;
    text-align: center;
}

.textPrincipal h1 {
    color: white;
    font-family: 'Dela Gothic One', cursive !important;
    width: 700px;
    text-align-last: center;
    letter-spacing: 2px;
    font-size: 2rem;
}

main {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.infosPai {
    width: 100%;
    height: 20rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.infosPai h1 {
    color: rgba(255, 255, 255, 0.822);
    height: 20%;
    text-align: center;
}

.infoCards {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardContainer {
    width: 350px;
    height: 70px;
    display: flex;
    gap: 20px;
    
}

.iconeCard {
    width: 30%;
    height: 100%;
    background-color: #EBECB814;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconeCard img {
    width: 30px;
}

.cardContainer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #a3a3abb2;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(70, 69, 69);
}

footer p {
    color: rgba(255, 255, 255, 0.589);
}

footer span {
    font-weight: bold;
    color: white;
}

footer img {
    margin-left: 10px;
}

@media screen and (max-width: 850px) {
    .infoCards {
        flex-direction: column;
        gap: 30px;
    }

    main {
        height: 25rem;
    }
}

@media screen and (max-width: 700px) {
    .textPrincipal h1 {
       width: 500px;
       text-align: center;
    }

    .textPrincipal p {
        width: 500px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .textPrincipal h1 {
        width: 400px;
        
    }

    .textPrincipal p {
        width: 450px;
    }
}

@media screen and (max-width: 465px) {
    .infosPai h1 {
        margin-bottom: 30px;
    }
}
